"Compile":
  stage: build
  image:
    name: "gradle:7.5-jdk8"
  script:
    - gradle --no-daemon --gradle-user-home gradle-home reobfShadowJar
    - gradle --no-daemon --gradle-user-home gradle-home javadoc || true
  cache:
    paths:
      - gradle-home
    key: gradle
  artifacts:
    paths:
      - build/reobfShadowJar/output.jar
      - build/docs/javadoc

"Checkstyle":
  stage: test
  needs: []
  image:
    name: "markstory/checkstyle"
  script:
    - checkstyle -c .checkstyle.xml src/main

"SpotBugs":
  stage: test
  needs: ["Compile"]
  image:
    name: "gradle:7.5-jdk8"
  cache:
    paths:
      - gradle-home
    key: gradle
  script:
    - gradle --no-daemon --gradle-user-home gradle-home spotbugsMain
  artifacts:
    paths:
      - build/reports/spotbugs/main.xml
    when: on_failure

"pages":
  stage: deploy
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  dependencies:
    - "Compile"
  image:
    name: "gradle:7.5-jdk8"
  script:
    - mv build/docs/javadoc public
  artifacts:
    paths:
      - public
